VITE_SUPABASE_URL=https://uuxodpunpeuazdvbcpgi.supabase.co
VITE_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_Cp7sykCnjjpYTl9UWfpi8g_t7IOZpf_
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV1eG9kcHVucGV1YXpkdmJjcGdpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM4ODMyMDksImV4cCI6MjA4OTQ1OTIwOX0.qQGXznPTLgzi9UZEREhiALdHXYjKGXh7gCY1zSpOrBo
SUPABASE_ACCESS_TOKEN=